/* Write your code here following the instructions
from the lesson: */

/* Group */
h1,
h2 {
  color: blueviolet;
}

/* Child */
.box > p {
  color: firebrick;
}

/* Descendant */
.box li {
  color: blue;
}

/* Chained */
li.done {
  color: seagreen;
}

/* Multiple Combiners */
ul p.done {
  font-size: 0.5rem;
}
