body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  display: block;
}

.creative {
  color: midnightblue;
}

.card {
  display: inline-block;
  width: 45%;
}

.tile-image {
  float: left;
  size: 3rem;
  width: 300px;
  margin-right: 3rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  float: none;
  text-align: right;
  color: midnightblue;
}

@media (max-width: 680px) {
  .logo {
    width: 40%;
  }
  h1 {
    text-align: center;
    font-size: 4rem;
  }
  .card {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  .tile-image {
    display: inline-block;
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
  }

  .card-title {
    font-size: 170%;
  }

  .card-text {
    font-size: 110%;
    text-align: justify;
  }
  .right > p {
    font-size: 110%;
    text-align: justify;
  }
}
