body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-style: italic;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
  color: white;
  text-align: center;
}

.cat-img {
  border: 5px solid white;
  width: 100%;
}
